@keyframes spinner {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;

  }
  100% {
    opacity: 0;
  }
}
.spinner-container {
  background: rgb(229,229,229);
  background: radial-gradient(circle, rgba(229,229,229,1) 26%, rgba(148,187,233,1) 100%);
  position: absolute;
  width: 100%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height ease 0.3s;
}

.icon {
  opacity: 1;
  margin-top: -50px;
  animation: spinner 2s linear infinite;
}